



<div class="w3-content" style="max-width:1200px">

  {% for img in images %}
    <img class="mySlides" src="{{img.img.url}}" style="width:100%">
  {% endfor %}
  
  
  
  <div class="w3-row-padding w3-section">

    {% for img in images %}
      <div class="w3-col s4">
        <img class="demo w3-opacity" 
        src="{{img.img.url}}" onclick="currentDiv({{forloop.counter}})">
      </div>
    {% endfor %}
    

  </div>

</div>


<script>

var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
     dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
     dots[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-opacity-off";

  index = slideIndex-1;

  if (index == 0) {prev_index = dots.length - 1;} else {prev_index = index - 1;}
  if (index == dots.length - 1) { next_index = 0;} else {next_index = index + 1;}
  console.log(prev_index)
  console.log(next_index)
  dots[prev_index].style.display = "inline";
  dots[index].style.display = "inline";
  dots[next_index].style.display = "inline";

}

</script>