<html lang="en">
{% load filter_url %}
  <head>
    <meta charset="utf-8">
    <title>title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="c.css">
  </head>
<body>

<nav class="navbar navbar-expand-md fixed-top navbar-transition">

    <button class="navbar-toggler" data-toggle='collapse' data-target="#collapse-target">
      <span class="navbar-toggler-icon"></span> 
    </button>

    <div class="container">
      <div class="collapse navbar-collapse" id="collapse-target">
      
      <!-- <a class="navbar-brand"><img src="../static/david.jpg" width="60px" height="60px"></a> -->

      <span class="navabr-text" style="color: #{{styles.name_color}}">David Sans</span>

      <ul class="navbar-nav ml-auto">
        <style type="text/css">.color{color: #{{styles.nav_link_color}};}</style>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle color" data-toggle="dropdown" data-target="dropdown_target" href="#">Language <span class="caret"></span></a>

          <div class="dropdown-menu" aria-labeledby="dropdown_target">
            <a class="dropdown-item" href="{{request.path|changeURL}}">Español</a>
            <a class="dropdown-item" href="{{request.path|changeURL}}">English</a>

          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link color" href="#">He</a>
        </li>

        <li class="nav-item">
          <a class="nav-link color" href="#">Pw</a>
        </li>

        <li class="nav-item">
          <a class="nav-link color" href="#">Lo acabo hoyyyy</a>
        </li>
        
      </ul>
    </div>
    </div>
    

  </nav>

  {% block main %}
  {% endblock main %}


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</body>
</html>